<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Guitars</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/babel">

      const guitars = ["les paul", "telecaster", "330", "casino", "phantom"]
      const GuitarList = (props) => {
        console.log(props);
        return props.items.map((item) => <li key={item}>{item}</li>);
      }
      const MyApp = (props) => {
        console.log(props)
        if (props.user) {
            return <span><h1>Home</h1><h2>Guitars</h2><ul><GuitarList items = {guitars}/></ul></span>;
      }
    }
      const container = document.getElementById('root');
      const root = ReactDOM.createRoot(container);
      root.render(<div><MyApp user = 'Lars'/></div>);

    </script>

  </body>
</html>